/* Demo styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 4rem 0;
  color: #2C303A;
}

.container {
  width: 50%;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

/* Progress bar */
#progress-bar {
  --scrollAmount: 0%;
  
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  width: var(--scrollAmount);

  /*  background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
  width: 100%; */
  
  height: 25px;
  position: fixed;
  top: 0;
}
